### Data processing script
Reads in folder 'AReM' and loops through all files within each subfolders

In [1]:
## Environment set-up
import pandas as pd 
import numpy as np
import os
import re
from functools import reduce
import warnings
warnings.filterwarnings("ignore")

# get current directory this script is installed in
current_fp = os.getcwd()
main_dir = os.path.join(current_fp, 'ARem')
filenames = os.listdir(main_dir) # list of everything in data folder
read_list = []
for file in filenames:
    # file contains some pdfs and read-me files. skipping those.
    if not file.endswith(".pdf") and not file.startswith('.'): 
        read_list.append(file) # list of all files to be read

In [2]:
df_all = [] # container to store dataframes
# loop through individual activities 
for activity_type in read_list:
    #print(activity_type)
    activity_files = os.listdir(main_dir + '/' + activity_type)

    activity_list = []
    # loop through each file 
    for file in activity_files:
        #print(file)
        df = pd.read_csv(os.path.join(main_dir, activity_type, file), sep='delimiter', header=None, engine = 'python')
        df = df[0].str.split(',| ', expand=True)
        df = df.mask(df.eq('None'))
        df.iloc[0:5] = df.iloc[0:5].shift(periods=-2, axis="columns")
        df = df.dropna(axis=0, thresh=3) # drop rows with all NAs
        df = df.dropna(axis=1, thresh=400) # drop columns with all NAs
        new_header = df.iloc[0] #grab the first row for the header
        df = df[1:] #take the data less the header row
        df.columns = new_header
        df = df.add_suffix('_'+activity_type)
        df = df.rename(columns={df.columns[0]: 'time'})
        df['subject_id'] = re.findall("\d+", file) * len(df)
        #print(df)
        # append into list container
        activity_list.append(df)
    
    activity_df = pd.concat(activity_list) # combining all individuals together
    activity_df['subject_id'] = pd.to_numeric(activity_df['subject_id'])
    activity_df['time'] = pd.to_numeric(activity_df['time'])
    activity_df = activity_df.sort_values(['subject_id', 'time'])
    activity_df = activity_df.reset_index(drop = True)
    activity_df.columns.names = [None]
    df_all.append(activity_df)

In [3]:
activity_all = pd.DataFrame() # main dataframe
for i in df_all:
    if len(activity_all) == 0:
        activity_all = i
    else:
        activity_all = pd.merge(activity_all, i, on = ['time', 'subject_id'], how = 'outer')

var_cols = list(activity_all.columns[activity_all.columns.str.startswith('var_')])
var_df = activity_all[['time'] + var_cols + ['subject_id']]
var_df['num_type'] = 'variance'
var_df.columns = var_df.columns.str.replace(r'var_', '')

mean_cols = list(activity_all.columns[activity_all.columns.str.startswith('avg_')])
mean_df = activity_all[['time'] + mean_cols + ['subject_id']]
mean_df['num_type'] = 'mean'
mean_df.columns = mean_df.columns.str.replace(r'avg_', '')

activity_all = pd.concat([mean_df, var_df]).reset_index(drop = True)
activity_all.iloc[:,:-1] = activity_all.iloc[:,:-1].apply(pd.to_numeric, errors='coerce', downcast='float')
activity_all

,time,rss12_bending1,rss13_bending1,rss23_bending1,rss12_bending2,rss13_bending2,rss23_bending2,rss12_cycling,rss13_cycling,rss23_cycling,...,rss13_sitting,rss23_sitting,rss12_standing,rss13_standing,rss23_standing,rss12_walking,rss13_walking,rss23_walking,subject_id,num_type
0,0.0,39.25,22.75,33.75,23.75,24.00,24.67,32.00,17.50,22.50,...,19.200001,15.50,46.50,11.50,20.33,35.00,16.50,14.00,1.0,mean
1,250.0,39.25,23.00,33.00,22.67,24.00,24.67,40.50,14.00,21.75,...,19.330000,11.00,46.50,12.00,20.25,28.50,17.50,12.25,1.0,mean
2,500.0,39.25,23.25,33.00,21.33,24.00,24.75,40.50,11.33,18.25,...,17.500000,12.50,46.50,12.00,20.50,35.50,15.75,17.75,1.0,mean
3,750.0,39.50,23.00,33.00,21.00,24.00,25.25,34.50,20.67,19.00,...,17.000000,13.33,46.50,12.75,19.50,29.75,16.25,20.75,1.0,mean
4,1000.0,39.50,24.00,33.00,23.00,23.75,24.75,34.50,21.25,18.25,...,17.500000,12.00,46.50,13.25,18.75,27.00,16.75,24.75,1.0,mean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14395,118750.0,NaN,NaN,NaN,NaN,NaN,NaN,2.55,2.17,4.74,...,1.300000,0.82,0.43,0.43,0.83,6.18,3.56,4.19,15.0,variance
14396,119000.0,NaN,NaN,NaN,NaN,NaN,NaN,0.00,1.41,1.25,...,0.000000,1.25,0.00,0.80,0.83,6.02,2.05,1.58,15.0,variance
14397,119250.0,NaN,NaN,NaN,NaN,NaN,NaN,1.73,0.43,0.87,...,0.470000,1.41,0.00,0.00,0.50,3.35,5.12,2.95,15.0,variance
14398,119500.0,NaN,NaN,NaN,NaN,NaN,NaN,3.74,4.18,1.41,...,0.500000,0.47,0.50,0.43,0.50,2.77,3.24,0.43,15.0,variance
14399,119750.0,NaN,NaN,NaN,NaN,NaN,NaN,1.92,3.49,3.67,...,1.000000,1.12,0.00,0.87,0.71,1.41,3.70,4.32,15.0,variance

The missing values will be imputed as the average value of the column. The study did not specify whether 'subject1' across different activities is the same person, however, this data is treating it as such for the purpose of the project. It is unclear why there are 15 subjects for certain activities but only 6-7 for some others, therefore, instead of dropping the missing values, they will be imputed using the average number of their according column. 

(for example, missing values at time mark 118750.0 in column rss12_bending1 will be imputed using the mean of non-missing values at time mark 118750.0 in column rss12_bending1)

Considering mean and variance separately in the imputing process.

In [4]:
# separate mean and variance 
mean_activity = activity_all[activity_all['num_type'] == 'mean'].reset_index(drop=True)
var_activity = activity_all[activity_all['num_type'] == 'variance'].reset_index(drop=True)

In [5]:
def impute_mean_time(df, column):
    # mean of each time group
    agg_df = df.groupby('time').agg({column: 'mean'})
    agg_df.reset_index(inplace=True) # unique mean value for each 'time'
    #
    df_temp = pd.merge(df[['time', column]], agg_df, on = 'time', how="left")
    df_temp = df_temp.drop(df_temp.columns[[1]], axis = 1)
    df_temp = df_temp.drop_duplicates()
    df_all = pd.merge(df[['time', column]], df_temp, on = 'time', how="left")
    df_all[column].fillna(df_all.iloc[:,2], inplace = True)
    
    return(df_all)

In [6]:
impute_cols = mean_activity[mean_activity.columns[pd.Series(mean_activity.columns).str.startswith('rss')]].columns
for column in impute_cols:
    mean_activity[column] = impute_mean_time(mean_activity, column)[column]

mean_activity.drop(['num_type'], axis = 1)
mean_activity

,time,rss12_bending1,rss13_bending1,rss23_bending1,rss12_bending2,rss13_bending2,rss23_bending2,rss12_cycling,rss13_cycling,rss23_cycling,...,rss13_sitting,rss23_sitting,rss12_standing,rss13_standing,rss23_standing,rss12_walking,rss13_walking,rss23_walking,subject_id,num_type
0,0.0,39.250000,22.750000,33.750000,23.750000,24.000000,24.670000,32.00,17.50,22.50,...,19.200001,15.50,46.50,11.50,20.33,35.00,16.50,14.00,1.0,mean
1,250.0,39.250000,23.000000,33.000000,22.670000,24.000000,24.670000,40.50,14.00,21.75,...,19.330000,11.00,46.50,12.00,20.25,28.50,17.50,12.25,1.0,mean
2,500.0,39.250000,23.250000,33.000000,21.330000,24.000000,24.750000,40.50,11.33,18.25,...,17.500000,12.50,46.50,12.00,20.50,35.50,15.75,17.75,1.0,mean
3,750.0,39.500000,23.000000,33.000000,21.000000,24.000000,25.250000,34.50,20.67,19.00,...,17.000000,13.33,46.50,12.75,19.50,29.75,16.25,20.75,1.0,mean
4,1000.0,39.500000,24.000000,33.000000,23.000000,23.750000,24.750000,34.50,21.25,18.25,...,17.500000,12.00,46.50,13.25,18.75,27.00,16.75,24.75,1.0,mean
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,118750.0,42.582859,16.892857,28.142857,29.195000,11.986667,19.721666,38.00,18.25,20.00,...,17.250000,11.00,45.25,12.25,13.75,34.50,9.00,12.67,15.0,mean
7196,119000.0,43.060001,18.714285,28.761429,28.833334,12.541667,19.583334,36.00,19.00,13.67,...,18.000000,10.67,45.00,12.60,14.25,25.75,13.75,16.00,15.0,mean
7197,119250.0,43.439999,18.535715,29.225714,29.125000,12.251667,18.778334,37.00,17.75,22.50,...,18.670000,11.00,45.00,12.00,14.50,31.50,10.25,16.25,15.0,mean
7198,119500.0,43.107143,18.879999,27.821428,29.341667,11.776667,19.375000,37.00,19.00,22.00,...,18.500000,12.33,45.50,12.25,14.50,33.75,14.00,13.75,15.0,mean
7199,119750.0,43.535713,20.107143,27.000000,29.083332,10.458333,18.513332,38.75,16.75,21.00,...,17.000000,13.50,45.00,12.50,14.00,37.00,18.25,11.00,15.0,mean

In [7]:
impute_cols = var_activity[var_activity.columns[pd.Series(var_activity.columns).str.startswith('rss')]].columns
for column in impute_cols:
    var_activity[column] = impute_mean_time(var_activity, column)[column]

var_activity.drop(['num_type'], axis = 1)
var_activity

,time,rss12_bending1,rss13_bending1,rss23_bending1,rss12_bending2,rss13_bending2,rss23_bending2,rss12_cycling,rss13_cycling,rss23_cycling,...,rss13_sitting,rss23_sitting,rss12_standing,rss13_standing,rss23_standing,rss12_walking,rss13_walking,rss23_walking,subject_id,num_type
0,0.0,0.430000,0.430000,1.300000,0.430000,0.000000,0.470000,4.85,3.35,3.20,...,0.98,2.06,0.50,0.50,0.94,3.67,3.77,1.63,1.0,variance
1,250.0,0.430000,0.000000,0.000000,0.940000,0.000000,0.940000,1.12,2.24,1.30,...,0.94,0.82,0.50,0.00,0.43,3.35,3.77,3.90,1.0,variance
2,500.0,0.430000,0.430000,0.000000,0.470000,0.000000,0.830000,2.60,4.50,5.31,...,0.50,0.50,0.50,0.00,0.50,2.87,2.86,5.07,1.0,variance
3,750.0,0.500000,0.710000,0.000000,0.000000,0.000000,1.090000,1.50,2.87,2.83,...,1.41,0.94,0.50,0.43,0.50,12.19,2.17,2.59,1.0,variance
4,1000.0,0.500000,0.000000,0.000000,0.710000,0.430000,0.830000,1.50,3.27,4.38,...,0.87,0.82,0.50,0.43,0.43,2.12,0.83,1.64,1.0,variance
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7195,118750.0,0.554286,1.520000,0.318571,0.280000,0.911667,0.720000,2.55,2.17,4.74,...,1.30,0.82,0.43,0.43,0.83,6.18,3.56,4.19,15.0,variance
7196,119000.0,0.501429,0.651429,0.480000,0.226667,1.178333,1.100000,0.00,1.41,1.25,...,0.00,1.25,0.00,0.80,0.83,6.02,2.05,1.58,15.0,variance
7197,119250.0,0.518571,1.095714,0.557143,0.071667,1.005000,1.181667,1.73,0.43,0.87,...,0.47,1.41,0.00,0.00,0.50,3.35,5.12,2.95,15.0,variance
7198,119500.0,0.611429,1.345714,0.658571,0.378333,0.886667,0.891667,3.74,4.18,1.41,...,0.50,0.47,0.50,0.43,0.50,2.77,3.24,0.43,15.0,variance
7199,119750.0,0.637143,0.675714,0.594286,0.475000,0.681667,1.168333,1.92,3.49,3.67,...,1.00,1.12,0.00,0.87,0.71,1.41,3.70,4.32,15.0,variance

Output results if files do not already exist

In [8]:
if not os.path.exists(os.path.join(current_fp, 'activity_mean.csv')):
    mean_activity.to_csv(os.path.join(current_fp, 'activity_mean.csv'))
    
if not os.path.exists(os.path.join(current_fp, 'activity_variance.csv')):
    var_activity.to_csv(os.path.join(current_fp, 'activity_variance.csv'))